body {
    font-family: Arial, sans-serif;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/373/952/839/wooden-spoon-condiments-background-wallpaper-preview.jpg");
    margin: 0;
    padding: 0;
}

.containers {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 10px);
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#receipt {
    display: none;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
}

.img {
    width: 170px;
}

.profile-card {
    box-shadow: 0 10px #E6EFFA;
    padding: 40px;
    max-width: 562px;
    width: 100%;
    border-radius: 25px;
}

@media (max-width: 768px) {
    .profile-card {
        width: 90%;
        margin: 50px auto;
        flex-direction: column;
    }
}

.profile-card .image img {
    width: 114px;
    height: 114px;
    border: 11px solid #E6EFFA;
}

.profile-card .card {
    border: none;
    padding-top: 20px;
}

.profile-card .card h2 {
    font-weight: 700;
    font-size: 26px;
    max-width: 354px;
}

.profile-card .card .passion {
    margin-bottom: 20px;
}

.profile-card .card .stats i {
    margin-right: 5px;
}

.profile-card .card p {
    font-size: 1.12rem;
    max-width: 221px;
    width: 100%;
}
/* .header{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/013/488/415/small_2x/tasty-fast-food-hand-drawn-for-cute-background-illustration-design-wallpaper-in-pattern-hand-drawn-style-vector.jpg");
} */
.logo-img{
    background-color: black;
}