body{
  background-color: black;
}
.counter-container {
  width: 350px;
  height: 225px;
  margin: 40px auto;
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.counter-display {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.increment-button, .decrement-button, .reset-button {
  width: 100px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
  margin-right:15px;
}

.increment-button {
  background-color: #4CAF50;
  color: #fff;
}

.decrement-button {
  background-color: #FF9800;
  color: #fff;
}

.reset-button {
  background-color: #03A9F4;
  color: #fff;
}

.increment-button:hover, .decrement-button:hover, .reset-button:hover {
  opacity: 0.8;
}